.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 280px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 322px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  margin: 23px 364px 0 0;
}

.u-section-1 .u-list-item-2 {
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 322px 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.6;
  margin: 23px 364px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 230px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 262px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 262px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 197px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 155px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 95px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 95px;
  }
} .u-section-2 {
  background-repeat: no-repeat;
  background-image: url("images/2148456982copy.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 475px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 60px 494px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 494px 0 0;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 30px 494px 60px 0;
}

.u-section-2 .u-input-1 {
  --radius: 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 0% 50%;
    background-size: cover;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 294px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 294px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 65px;
    margin-right: 220px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-right: 74px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 40px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}