 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/48118copy.jpg");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 60px;
}

.u-section-1 .u-text-2 {
  margin: 20px 550px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 350px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 130px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1019px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 813px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-2 .u-image-1 {
  width: 245px;
  height: 161px;
  --radius: 30px;
  margin: 30px 55px 0 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 23px 0 0;
}

.u-section-2 .u-image-2 {
  width: 245px;
  height: 161px;
  --radius: 30px;
  margin: 30px 55px 0 0;
}

.u-section-2 .u-list-item-3 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 23px 0 0;
}

.u-section-2 .u-image-3 {
  width: 245px;
  height: 161px;
  --radius: 30px;
  margin: 30px 55px 0 0;
}

.u-section-2 .u-list-item-4 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 23px 0 0;
}

.u-section-2 .u-image-4 {
  width: 245px;
  height: 161px;
  --radius: 30px;
  margin: 30px 55px 0 0;
}

.u-section-2 .u-list-item-5 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-text-11 {
  margin: 23px 0 0;
}

.u-section-2 .u-image-5 {
  width: 245px;
  height: 161px;
  --radius: 30px;
  margin: 30px 55px 0 0;
}

.u-section-2 .u-list-item-6 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  margin: 0;
}

.u-section-2 .u-text-13 {
  margin: 23px 0 0;
}

.u-section-2 .u-image-6 {
  width: 245px;
  height: 161px;
  --radius: 30px;
  margin: 30px 55px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 668px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1186px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
  }

  .u-section-2 .u-image-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
  }

  .u-section-2 .u-image-6 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 604px;
}

.u-section-3 .u-list-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 484px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  width: 174px;
  height: 174px;
  background-image: url("images/ds.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 31px 946px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 58px -481px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  width: 174px;
  height: 174px;
  background-image: url("images/hgghgh.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 31px 946px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 58px -481px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 174px;
  height: 174px;
  background-image: url("images/w.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 31px 946px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 58px -481px 0 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 222px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 222px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    margin-right: 746px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 746px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 746px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 526px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 526px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 526px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 346px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 346px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 146px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 146px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 146px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 689px;
}

.u-section-4 .u-list-1 {
  width: 284px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 569px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  padding-left: 1px;
  font-weight: 700;
  margin: 0 252px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  padding-left: 1px;
  font-weight: 700;
  margin: 0 252px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  padding-left: 1px;
  font-weight: 700;
  margin: 0 252px 0 0;
}

.u-section-4 .u-image-1 {
  height: 569px;
  width: 849px;
  margin: -569px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    width: 765px;
    margin-right: 2px;
    margin-bottom: -529px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-4 .u-list-1 {
    width: 192px;
  }

  .u-section-4 .u-image-1 {
    height: 536px;
    width: 528px;
    margin-top: -552px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-4 .u-image-1 {
    height: 294px;
    margin-top: -18px;
    margin-bottom: -160px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-4 .u-list-1 {
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    height: 176px;
    margin-top: 0;
    margin-bottom: 54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-repeat: no-repeat;
  background-image: url("images/2148456982copy.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 475px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 60px 494px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 494px 0 0;
}

.u-section-5 .u-form-1 {
  width: 570px;
  margin: 30px 494px 60px 0;
}

.u-section-5 .u-input-1 {
  --radius: 30px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 0% 50%;
    background-size: cover;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 294px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 294px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 65px;
    margin-right: 220px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 16px;
    margin-right: 74px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 40px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
  }
}